.navbar {
    display: flex;
    background-color: #f6f6f6;
    box-shadow: #2a2a2a 0px 0px 10px;
}

.nav {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding-right: 10rem;
  }
  
  .nav-link {
    color: #2a2a2a;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem 3rem;
    font-family: Nexa;
    font-size: 1.4rem;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Apply styles to the active link */
  .active {
    text-decoration: underline;
  }

  .logo {
    padding: 1rem;
    padding-left: 6rem;
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  